# WEB SCRAPING ‚Äì ASSIGNMENT 2

In [41]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\patil\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: trio~=0.17 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: idna in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\patil\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\patil\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\patil\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\patil\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [42]:
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

**Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:**

1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [187]:
driver = webdriver.Chrome()

In [118]:
driver.get('https://www.shine.com/')

In [120]:
designation = driver.find_element(By.CLASS_NAME, 'form-control')
designation.send_keys('Data Analyst')

In [121]:
location = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [123]:
search = driver.find_element(By.CLASS_NAME,'searchForm_btnWrap_advance__VYBHN')
search.click()

In [124]:
job_title = []
job_location =[]
company_name =[]
experience_required = []

In [128]:
title = driver.find_elements(By.XPATH,'//h2[@itemprop= "name"]')
for i in title:
    title = i.text
    job_title.append(title)

location = driver.find_elements(By.XPATH, '//div[@class = " jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for l in location:
    location = l.text
    job_location.append(location)

comp_name = driver.find_elements(By.XPATH,'//div[@class = "jobCard_jobCard_cName__mYnow"]/span')
for c in comp_name:
    comp_name = c.text
    company_name.append(comp_name)

exp = driver.find_elements(By.XPATH, '//div[@class = " jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for e in exp:
    exp = e.text
    experience_required.append(exp)

data = {'job_title':job_title[:10], 
       'job_location':job_location[:10],
        'company_name':company_name[:10],
        'experience_required':experience_required[:10]
       }

df = pd.DataFrame(data)
df

,job_title,job_location,company_name,experience_required
0,Lead Data Analyst,,ara resources private limited,4 to 9 Yrs
1,Data Analyst,+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,+14,yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,+6,techno endura,0 to 1 Yr
4,Data Modeler data,,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeller,,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler Bangalore,,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler,,boyen haddin consulting and technol...,3 to 6 Yrs
8,Clinical Data Analyst,+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,+13,kavya interprises,0 to 4 Yrs

**Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:**
    
1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [129]:
driver.get('https://www.shine.com/')

In [130]:
job = driver.find_element(By.XPATH, '/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[1]/ul/li[1]/div/input')
job.send_keys('Data Scientist')

In [131]:
place = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[1]/ul/li[2]/div/input')
place.send_keys('Bangalore')

In [133]:
search = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[2]/div/button')
search.click()

In [134]:
job_title = []
job_location =[]
company_name =[]

In [144]:
title = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for t in title:
    title = t.text
    job_title.append(title)

job_loc = driver.find_elements(By.XPATH, '//div[@class = " jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for j in job_loc:
    job_loc = j.text
    job_location.append(job_loc)

com_name = driver.find_elements(By.XPATH,'//div[@class = "jobCard_jobCard_cName__mYnow"]/span')
for c in com_name:
    com_name =c.text
    company_name.append(com_name)

dat = {'job_title': job_title[:10],
      'job_location': job_location[:10],
      'company_name': company_name[:10]}

df = pd.DataFrame(dat)
df

,job_title,job_location,company_name
0,Data Scientist Recruitment,Bangalore\n+15,renuka interprises
1,Data Scientist Recruitment,Bangalore\n+15,renuka interprises
2,Data Scientist,Bangalore\n+4,acme services private limited
3,Data Scientist,Bangalore,ltimindtree limited
4,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal
5,Senior Data Scientist,Bangalore\n+1,neostats
6,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution
7,Lead Data Scientist,Bangalore\n+1,aereo
8,Data Scientist,Bangalore\n+7,people staffing solutions
9,Data Scientist Urgent Vacancy,Bangalore\n+14,yogita staffing solution

**Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:**
1. first get the web page https://www.shine.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [218]:
driver = webdriver.Chrome()

In [219]:
driver.get('https://www.shine.com/')

In [232]:
job = driver.find_element(By.XPATH, '/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[1]/div/input')
job.send_keys('Data Scientist')

In [233]:
search = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[2]/div/button')
search.click()

In [247]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div/div/div[2]/div/ul/li[1]/button')
loc.click()
location_filter = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[13]/span/label')
location_filter.click()
search = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[4]/button[2]')
search.click()

In [249]:
sal = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div/div/div[2]/div/ul/li[3]/button')
sal.click()
salary_filter = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
salary_filter.click()
search = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[4]/button[2]')
search.click()

In [250]:
job_title = []
job_location =[]
company_name =[]
experience_required = []

In [251]:
title = driver.find_elements(By.XPATH,'//h2[@itemprop= "name"]')
for i in title:
    title = i.text
    job_title.append(title)

location = driver.find_elements(By.XPATH, '//div[@class = " jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for l in location:
    location = l.text
    job_location.append(location)

comp_name = driver.find_elements(By.XPATH,'//div[@class = "jobCard_jobCard_cName__mYnow"]/span')
for c in comp_name:
    comp_name = c.text
    company_name.append(comp_name)

exp = driver.find_elements(By.XPATH, '//div[@class = " jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for e in exp:
    exp = e.text
    experience_required.append(exp)

data = {'job_title':job_title[:10], 
       'job_location':job_location[:10],
        'company_name':company_name[:10],
        'experience_required':experience_required[:10]
       }

df = pd.DataFrame(data)
df

,job_title,job_location,company_name,experience_required
0,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
1,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr
2,Bioanalytical Research,Delhi\n+6,techno endura,0 to 1 Yr
3,Bioanalytical Research Associates,Delhi\n+6,techno endura,0 to 1 Yr
4,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
5,Clinical Analyst Fresher,Delhi\n+6,techno endura,0 to 1 Yr
6,Clinical SAS,Delhi\n+8,techno endura,0 to 2 Yrs
7,Junior Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
8,Data Engineer,Delhi\n+9,future solution centre,10 to 20 Yrs
9,Biostatistician,Delhi\n+17,national seeds corporation limited,2 to 7 Yrs

**Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:**
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter ‚Äúsunglasses‚Äù in the search field where ‚Äúsearch for products, brands and more‚Äù is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the ‚ÄúNext‚Äù Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses

In [276]:
driver = webdriver.Chrome()

In [277]:
driver.get('https://www.flipkart.com/')

In [284]:
search_box = driver.find_element(By.XPATH, "//input[@title='Search for products, brands and more']")
search_box.send_keys('sunglasses')
search_box.submit()

In [280]:
#find = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg')
#find.submit()

In [281]:
brand = []
prod_desc = []
price = []

In [323]:
start = 0
end = 3

for page in range(start,end):
    br = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in br:
        brand.append(i.text)
        
    prod = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for p in prod:
        prod_desc.append(p.text)
    
    pr = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in pr:
        price.append(p.text)

da = {'Brand': brand[:100],
     'Product_Description':prod_desc[:100],
     'Price':price[:100]}

df = pd.DataFrame(da)
df

              Brand                                Product_Description   Price
0            VOYAGE    Polarized, UV Protection Sports Sunglasses (55)  ‚Çπ1,429
1   Lenskart STUDIO   Polarized, UV Protection Aviator Sunglasses (51)  ‚Çπ1,429
2              SRPM             UV Protection Wayfarer Sunglasses (50)    ‚Çπ149
3         Elligator         UV Protection Retro Square Sunglasses (54)    ‚Çπ149
4     VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ‚Çπ499
..              ...                                                ...     ...
95          ROADWAY   UV Protection Rectangular Sunglasses (Free Size)    ‚Çπ179
96           GANSTA  UV Protection Wayfarer, Over-sized Sunglasses ...    ‚Çπ292
97      Eyewearlabs            UV Protection Butterfly Sunglasses (60)  ‚Çπ1,236
98          Bembika             UV Protection Wayfarer Sunglasses (50)    ‚Çπ189
99           PIRASO  Polarized, UV Protection, Riding Glasses Wayfa...    ‚Çπ210

[100 rows x 3 columns]

**Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART**
            
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [393]:
driver = webdriver.Chrome()

In [327]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART')

In [343]:
rating = []
summary = []
review = []

In [352]:
start = 0
end = 3

for page in range(start,end):
    
    rat = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for r in rat:
        rating.append(r.text)
    
    sum = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for s in sum:
        summary.append(s.text)
    
    rev = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
    for r in rev:
        review.append(r.text)
d1 = {'Rating':rating[:100],
     'Review Summary': summary[:100],
     'Full Review':review[:100]}

df= pd.DataFrame(d1)
df

,Rating,Review Summary,Full Review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Best in the market!,Good Camera
2,5,Wonderful,This is amazing at all
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Terrific,Very very good
...,...,...,...
95,5,Terrific purchase,Value for money üòç
96,5,Perfect product!,Photos super
97,5,Perfect product!,V Good all
98,5,Just wow!,Perfect Product!!
99,5,Must buy!,It‚Äôs really awesome

**Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field.
You have to scrape 3 attributes of each sneaker:**
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes

In [356]:
driver.get('https://www.flipkart.com/')

In [363]:
s1 = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
s1.send_keys('sneakers')
s1.submit()

In [364]:
brand = []
prod_desc = []
price = []

In [373]:
start = 0
end = 3

for page in range(start,end):
    br = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for b in br:
        brand.append(b.text)
    
    pro = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for pr in pro:
        prod_desc.append(pr.text)
    
    pric = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in pric:
        price.append(p.text)

d2 = {'Brand':brand[:100],
     'Product Description':prod_desc[:100],
     'Price':price[:100]}

df = pd.DataFrame(d2)
df

         Brand                                Product Description   Price
0        BIRDE  Pack Of 2 Combo Comfortable Lightweight Regula...    ‚Çπ521
1         aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ‚Çπ249
2     URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...    ‚Çπ299
3       BRUTON               Modern Trendy Shoes Sneakers For Men    ‚Çπ299
4    Deals4you                                 Sneakers For Women    ‚Çπ399
..         ...                                                ...     ...
95       asian                       FLYING FURY Sneakers For Men  ‚Çπ1,039
96      BRUTON  Pack Of 2 Combo Comfortable Lightweight Regula...    ‚Çπ537
97     TERFILL  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ‚Çπ499
98        ATOM  Trending Stylish Casual Outdoor Sneakers Shoes...  ‚Çπ1,339
99  streetLOOK               Modern Trendy Shoes Sneakers For Men    ‚Çπ494

[100 rows x 3 columns]

**Q7: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:**
1. Title
2. Ratings
3. Price

In [374]:
driver.get('https://www.amazon.in/')

In [375]:
s3 = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
s3.send_keys('Laptop')
s3.submit()

In [382]:
CPU_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[19]/span')
intel = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[11]/li/span/a/span')
intel.click()

In [388]:
laptops = []
ratings = []
price = []

lap = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base"]')
for l in lap:
    laptops.append(l.text)

rating = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for r in rating:
    ratings.append(r.text)

pri = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for p in pri:
    price.append(p.text)

frame = {'Title':laptops[:10],
        'Ratings':ratings[:10],
        'Price':price[:10]}

df = pd.DataFrame(frame)
df

    Title Ratings     Price
0     MSI      58    54,990
1    ASUS     414    64,990
2  Lenovo     432    62,990
3    Acer     115  1,41,990
4    ASUS     178    77,990
5      HP     138  1,10,990
6      HP     681    78,990
7      HP       1    84,899
8  Lenovo      22  1,09,190
9    Acer      65    54,990

**Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:**
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [408]:
driver.get('https://www.azquotes.com/')

In [409]:
top = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top.click()

In [410]:
quote = []
author = []
typeofquote = []

In [417]:
start =0
end =4

for page in range(start,end):
    qt = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for q in qt:
        quote.append(q.text)
    
    auth = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for a in auth:
        author.append(a.text)
    
    type1 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for t in type1:
        typeofquote.append(t.text)
d5 = {'Quote':quote[:1000],
     'Author':author[:1000],
     'Type of Quote':typeofquote[:1000]}

df = pd.DataFrame(d5)
df

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

**Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:**
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [450]:
driver = webdriver.Chrome()

In [458]:
driver.get('https://www.jagranjosh.com/')

In [459]:
option = driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
option.click()

In [460]:
list1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[8]/section[8]/div/ul/li[10]/a')
list1.click()

In [444]:
prime_list = []

list2 = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[6]/div/table/tbody/tr[3]/td[2]/div')
for l in list2:
    prime_list.append(l.text)
prime_list

['Gulzarilal Nanda (Acting)']

**Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:**
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [468]:
driver.get('https://www.motor1.com/')

In [470]:
cars = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
cars.send_keys('50 most expensive cars')
cars.submit()

In [471]:
car50 = driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
car50.click()

In [472]:
car_name = []
price = []

In [ ]:
car = driver.find_elements(By.XPATH,'//h3[@class="subheader"]/span')
for c in car:
    car_name.append(c.text)

price1 = driver.find_elements(By.XPATH,'')
for p in price1:
    price.append(p.text)
price